fastapi
uvicorn
psycopg2-binary
python-dotenv
pydantic
passlib[bcrypt]
bcrypt
PyJWT
fastapi
uvicorn
pandas
geopandas
pyarrow
torch
torch-geometric
xgboost
scikit-learn
requests
python-dotenv
rasterio
